.containerButtons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
    .containerBtns{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        background: rgba(255, 255, 255, 0.78);
        border-radius: 12px 12px 0px 0px;
        width: 85%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .containerAllBtn{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 200px;
        height: 150px;
        border-radius: 100px;
    }
        .btnOne,
        .btnTwo,
        .btnThree{      
            width:150px;
            height:150px;            
            margin: 5px;
            padding:10px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            font-size:11px;
            line-height:32px;
            text-transform: uppercase;
            float:left;            
        }
        .link{
            text-decoration:none;
        }        
        .containerAllBtn:hover .btnOne,
        .containerAllBtn:hover .btnTwo,        
        .containerAllBtn:hover .btnThree{
            transform:scale(1.2);
        }   
        .btnOne{
            float: right;
        }
        .btnTwo{
            float: right;
        }
        .btnThree{
            float: right;
        }     
        .btnOne{
            background: #FDD109;
        }
        .btnTwo{
            background: #3CDCA5;
        }
        .btnThree{
            background: #FF508C;
        }
            .tittleBtn{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 33px;
                text-align: center;
                margin: 0;
                
                color: #FFFFFF;
            }
            