@font-face{
    font-family: 'HelveticaRoman';
    src: url('../fonts/HelveticaNeueLTStd-Roman.otf');
}  

.contCard{
    background-color: #F4F4FF; 
    width: 100%;
    height: 95vh;
    padding: 4rem;
}

.card-text-cont {
    width: 50%;
    text-align: center;
}
.arrowone {
    margin-top: 5em;

 }
.card-text {
font-family: 'HelveticaRoman';
font-size: 1.3rem;
}
.card-text-title {
    font-family: 'HelveticaRoman';
    font-size: 1.8rem;    
}


@media (max-width: 450px) {
    .contCard{
       height: 100vh;
       padding: 0%;
    }
    .card-text-cont {
        width: 80%;
    }

  }