@font-face{
    font-family: 'HelveticaRoman';
    src: url('../fonts/HelveticaNeueLTStd-Roman.otf');
}  

.card-text-cont {
    width: 50%;
    text-align: center;
}

.card-text {
font-family: 'HelveticaRoman';
font-size: 1.3rem;
}

