.sectionGAV {
    background-color: #ddc5f9;
    text-align: center;
}

.logogav {
    margin-top: 100px;
    width: 1000px;
  
}

.soygel {
    font-family: 'RoundedElegance', Arial, Helvetica, sans-serif;
}

