/* html {
  background: url("../img/fondo1.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.soygel {
  font-family: "RoundedElegance", Arial, Helvetica, sans-serif;
}

.whitebox {
  width: 100%;
  height: 475px;
  background-color: #ffffff;
  border-radius: 32px 32px 32px 32px;
  -moz-border-radius: 32px 32px 32px 32px;
  -webkit-border-radius: 32px 32px 32px 32px;
  border: 0px solid #000000;
  -webkit-box-shadow: 17px 17px 31px 4px rgba(0,0,0,0.26);
  -moz-box-shadow: 17px 17px 31px 4px rgba(0,0,0,0.26);
  box-shadow: 17px 17px 31px 4px rgba(0,0,0,0.26);
}

.hootieilus {
    float: left;
}

/*.containernextButton{
    width: 9%;
    display: flex;
    direction: column;
    margin-top: 50px;
    position: right ;
    top:40px;
    left: 10px;
    /*float:right
    margin-left: 90%;
}*/
.containernextButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  top: 45%;
}
         .btnNext{      
          width: 100px;
          height: 100px;    
        } 
        
.backgroundimg {
    background: url("../img/fondo1.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
.progress {
  height: 2rem !important;
  border-radius: 20.5rem !important;
  width:95%;
}

@media (max-width: 468px) {
  .whitebox {
    width: 100% !important;
    height: 250px !important;
}

}
@media (min-width: 768px) and (max-width: 991px) {
  .whitebox {
    width: 100% !important;
    height: 250px !important;
}
}
/* @media (min-width: 992px) {
  .whitebox {
    width: 100% !important;
    height: 250px !important;
}
} */