@font-face {
  font-family: 'RoundedElegance';
  src: local('RoundedElegance'), url('../fonts/Rounded_Elegance.ttf') format('truetype');

  font-family: 'HelveticaRoman';
  src: url('../fonts/HelveticaNeueLTStd-Roman.otf');
}
.whitebox{
  width: 100%;
  height: 72vh;
  background-color: #ffffff;
  border-radius: 32px 32px 32px 32px;
  -moz-border-radius: 32px 32px 32px 32px;
  -webkit-border-radius: 32px 32px 32px 32px;
  border: 0px solid #000000;
  -webkit-box-shadow: 17px 17px 31px 4px rgba(0,0,0,0.26);
  -moz-box-shadow: 17px 17px 31px 4px rgba(0,0,0,0.26);
  box-shadow: 17px 17px 31px 4px rgba(0,0,0,0.26);
}
.whitebox3 {
  width: 100%;
  height: 72vh;
  background-color: #ffffff;
  border-radius: 32px 32px 32px 32px;
  -moz-border-radius: 32px 32px 32px 32px;
  -webkit-border-radius: 32px 32px 32px 32px;
  border: 0px solid #000000;
  -webkit-box-shadow: 17px 17px 31px 4px rgba(0,0,0,0.26);
  -moz-box-shadow: 17px 17px 31px 4px rgba(0,0,0,0.26);
  box-shadow: 17px 17px 31px 4px rgba(0,0,0,0.26);
}

.hootieilus {
    float: left;
}

.containernextButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  top: 45%;
}
.btnNext{      
  width: 100px;
  height: 100px;    
} 
        
.backgroundimg {
   background: url("../img/fondo2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 92.3vh;;
}
.progress {
  height: 2rem !important;
  border-radius: 20.5rem !important;
  width:95%;
}

.infoimg{
  width: 80%;
  height: 474px;
  margin-top: -23px;
}

.modalName{
  background: url("../img/fondo2.png") no-repeat center center fixed;
  background-size:100% 100%;
  background-repeat: no-repeat;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.textModal{
  font-family: 'HelveticaRoman';
  font-size: 1.5rem;
  font-weight: 400;
}
.btnModal{
  background-color:#662499;
  color:white;
  width: 20%;
  height: 40px;
  margin-top:10px; 
  border-radius: 50px;
  border: none;
  font-family: 'HelveticaRoman';
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: -40px;
}

.btnName{
  background-color:#662499;
  color:white;
  width: 60%;
  height: 40px;
  margin-top:10px; 
  border-radius: 30px;
  border: none;
  font-family: 'HelveticaRoman';
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: -40px;
}
.coronaM1{
  width: 50%;
}
.covidPurple{
  width: 70%;
  margin-top:80%;
}
.contNameDiplo{
  width: 70%;
  height: 50px;

}
.coronaW{
  width: 300px;
  border-radius: 20px;
}

.processBar{
  width: 75%;
  margin-top: 20px;
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
.hootieC1{
  width: 80%;
  margin-top: 55px;
  margin-left: 35px;
}
/*LevelOne-C1*/
.contC1{
  display: flex;
  flex-direction: row;
  width: 90%;
}
.contHC1{
  width: 30%;
}
.contTextC1{
  margin-top: 8%;
  width: 70%;
  padding: 5px;
  margin-left:5px;
}

.contenido-titulo {
  font-family: 'RoundedElegance', sans-serif;
  color: #662499;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.contenido-texto {
  font-family: 'HelveticaRoman';
  font-size: 1.3rem;
  line-height: 2.1rem;
}
.textwinner{
  font-size: 1.8rem !important;
}

.diploma {
  background-color: #f4f4ff !important;
  width: 60%;
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 13%;
  margin-right: 3%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 8px solid #ddc5f9;
        outline-offset: -30px;
}

.diplo-title {
  font-family: 'RoundedElegance';
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  color: #662499;
  margin-bottom: 30px;
}

.diplo-nombre {
  font-family: 'RoundedElegance';
  letter-spacing: 0.1em;
  text-transform: capitalize;
  font-size: 3rem;
  color: #662499;
}

.diplo-title1{
  font-family: 'HelveticaRoman';
  font-size: 1.4rem;
  color: #292c30;
}

.ribbon {
  margin-bottom: 10px;
}
/*levelOne-4*/

.contGeneralD{
  display: flex;
  width: 90%;
}
.whitebox-4{
  width: 20%;
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 32px 32px 32px 32px;
  -moz-border-radius: 32px 32px 32px 32px;
  -webkit-border-radius: 32px 32px 32px 32px;
  border: 0px solid #000000;
  -webkit-box-shadow: 17px 17px 31px 4px rgba(0,0,0,0.26);
  -moz-box-shadow: 17px 17px 31px 4px rgba(0,0,0,0.26);
  box-shadow: 17px 17px 31px 4px rgba(0,0,0,0.26);
}
.logoGame{
  float: right;
  width: 200px;
  margin-top: 1rem;
  margin-left: 3rem;
}

@media (max-width: 375px) {
  .fab-container {
    top: 13em;
    z-index: 1;
    right: 0vh;
    }
    .contEscuadron {
      margin-top: -4px;
    }
    .jabon {
      width: 100px;
      margin-left: -34px;
    }
    .prog-bar-content {
      height: 23vh !important;
  }
  .logoGame {
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .hootieC1{
    width: 88px;
    margin-top: 300% !important;
    margin-left: -217px;
  }
}
/*Responsive Celular L*/
@media (max-width: 425px) {
        .whitebox {
          width: 100% ;
          height: 68vh ;
        }
        .whitebox3 {
          width: 100%;
          height: 72vh;
          background-color:none;
        }
        .logoGame{
          order: 1;
          float: none;
          margin-top: 10px;
          margin-right: 0px;
          margin-left: 0px;
        }
        .processBar{
          order:2;
          width: 95%;
          margin-top: 1px;
        }
        .prog-bar{
          justify-content: center;
          align-items: center;
        }
        .prog-bar-content {
          height: 24vh !important;
        }
        .backgroundimg{
          height:94vh;
        }
        .prog-bar-content {
            width: 100vw;
            height: 19vh;
            top: 0;
            background-color: rgba(0, 0, 0, 0.3);
            background: rgba(0, 0, 0, 0.3);
            color: rgba(0, 0, 0, 0.3);
            justify-content: center;
        }

        .contC1{
          width: 100%;
          justify-content: center;
          margin-top: -46px;
        }
        .contTextC1{
          top: -60px;
          width: 100%;
          order: 1;
        }
        .contHC1{
          margin:0px;
          padding: 0px;
          margin-left: 0px;
          order:2;
          position: absolute;
        }
        .contenido-titulo{
          font-size: 25px;
          padding: 0px;
        }
        .btnNext{      
          width: 50px;
          height: 50px;    
        } 
        .containernextButton {
          top: 4%;
        }
        .contenido-texto{
          font-size: 1rem;
        }
        .textwinner{
          font-size: 1.1rem;
          margin-left: 70px;
        }
        .hootieC1{
          margin-left: -217px !important;
          margin-top: 250%;
        }
        .contGeneralD{
          flex-direction: column;
          flex-wrap: wrap;
          width: 90%;
        }
        .diploma {
          width: 90%;
          height: 50vh;
        }
        .whitebox-4{
          width: 88%;
          height: 12vh;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-left: 12%;
        }
        .coronaM1{
          width: 20%;
        }
        .covidPurple{
          width: 20%;
          margin-top:0%;
          margin-left: 20px;;
        }
        .btnName{
          width: 40%;
          height: 40px;
          margin-top:10px; 
          font-size: 0.8rem;
          margin-bottom: -2px;
        }
        .diplo-title1{
          font-size: 1rem;;
        }
        .diplo-nombre{
          font-size: 2rem;
        }
        .escuadronprev{
          width: 80px;
        }
        .contNameDiplo{
          width: 70%;
          height: 40px;
        }
        .diplo-title {
          font-size: 1.5rem;
          margin-bottom: 10px;
      }
}

@media (min-width: 426px) and (max-width: 762px) {
  .hootieC1{
    width: 50%;
    margin-top: 139px;
    margin-left: 44px;
  }
  .logoGame{
    order: 1;
    float: none;
  }
  .processBar{
    order:2;
    width: 95%;
    margin-top: 1px;
  }
  .prog-bar-content {
    height: 19vh;
    justify-content: center;
    align-items: center;
  }
  .contC1{
    margin-top: -55px;
    width: 90%;
  }
  
}

/*Tablet*/
@media (min-width: 763px) and (max-width: 991px) {
  .whitebox {
    width: 100% !important;
    height: 73vh !important;
}
.backgroundimg {
  height: 94.3vh;
}
.hootieC1{
  width: 100%;
  margin-top: 110px;
  margin-left: 44px;
}
.processBar{
  width: 60%;
  margin-top: 1px;
}
.logofooter {
  width: 81%;
}
.btnNext {
  width: 80px;
  height: 80px;
}
.contC1{
  margin-top: -42px;
  margin-left: 20px;
}
.contenido-texto{
  margin-left: 10%;
}
.contGeneralD{
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
}
.diploma {
  width: 88%;
  height: 60vh;
}
.whitebox-4{
  width: 88%;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 12%;
}
.coronaM1{
  width: 10%;
}
.covidPurple{
  width: 10%;
  margin-top:0%;
  margin-left: 50px;;
}
.btnName{
  width: 30%;
  height: 40px;
  margin-top:10px; 
  font-size: 0.8rem;
  margin-bottom: -2px;
}
}
@media (min-width: 360px) {
.logofooter {
  width: 91%;
}

}
 @media (min-width: 1024px) {
  .backgroundimg {
    height: 94.3vh !important;
}
  .context {

    padding-top: 12px !important;
    font-size: 1.2rem !important;
  }
}