
.modalHottie {
    background: url('../img/fondo2.png');
    background-size: 100%;
    font-family: 'HelveticaRoman';
    font-size: 1.1rem;
    border-bottom-left-radius: 2.125rem !important;
    border-bottom-right-radius: 2.125rem !important;
    border-top-left-radius: 2.125rem !important;
    border-top-right-radius: 2.125rem !important;
}
.modalHotti {
    background: url('../img/fondo2.png');
     background-size: 100%; 
}

.textarea{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.3);
  
}
.imghootie{
    margin-top: 6.5rem;
}
.btnModal{
    border-radius:'100px';
    float: right;
    cursor: pointer;
    left: -22px;
    position: relative;
}

.h4 {
    font-family: 'HelveticaRoman'!important;
    font-size: 1.8rem !important;
    text-align: center !important;
}
.modal-content {
    background-color: transparent !important;
    width: 120% !important; 
} 
.modal-dialog .modal-content .modal-header {
    border-top-left-radius: 2.125rem !important;
    border-top-right-radius: 2.125rem !important;
} 
.modal-dialog .modal-content {
    border: 0;
    border-radius: 3.125rem;
} 
@media (max-width: 375px) {
    .hootieWhat{
        width:160px;
        height:160px;
    }
    .imgWhat{
        width: 60%;
    }
    .arrowoneWhat {
        margin-top: 0.3em;
    }
}
@media (max-width: 450px) {
    .conthootie{
        width: 100%;
        margin-top: 2rem;
    }
    .modal-content {
        width: 100% !important; 
    }
    .contInfo{
        display: flex;
        width: 21rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .imghootie{
        margin-top: 0px;
    }
    .textarea{
        padding: 12px;
    }
  }
