.nav {
    background-color: #ddc5f9;
}

.btn-nav {
    background-color: #64259D;
    color: white;
}

.hootielogo {
    padding-right: 100px;
}
.navbar {
    font-weight: 300;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.0), 0 0px 0px 0 rgba(0,0,0,0.0) !important; 
    padding: 1.3rem 2rem !important;
}
.nav-item.active>.nav-link {
    background-color: #64259D !important;
    margin-left: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
/* .progress {
    width: 100vw;
    height: 13vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
    } */