  .tabs {
      margin: 0 ;
    }
    .navs-tabs {
    background-color: #64259D;
    justify-content: center;
    align-items: center;
    margin-top: none;
}
    .titulo {
    font-family: 'RoundedElegance', sans-serif;
    color: #662499;
    font-size: 2.6rem;
  }
    .text {
    display: flex;  
    font-family: 'HelveticaRoman';
    font-size: 1.1rem;
    line-height: 2rem;
    align-items: center;
  }
  .contImg {
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }
  .virus1 {
    width: 100%;     
    display:block;
    margin:auto;   
    align-items: center; 
  }
  .pumas {
    width: 80%;
    margin-top: 55px;
    margin-left: 35px;      
  }
  .contact {
    width: 80%;
    margin-top: 55px;
    margin-left: 35px;   
  }
  .defeat{
    width: 80%;
    margin-top: 55px;
    margin-left: 35px;  
  }


  @media (max-width: 375px) {
    .btn {
        margin: -0.625rem !important;
        padding: 0.16rem 2.14rem !important;
        height: 33vh !important;
    }
    .virus1{
      width: 130px;
    }
    .pumas{
        width: 100px !important;
    }
    .contact{
        width: 130px;
    }
    .defeat{
        width: 100px;
    }
    }

    @media /* (min-width:320px) and */ (max-width: 450px) {      
      .contImg{
          width: 100%;
          margin-top: 36px;
      }
      .contImg {
          margin-top: 2px;
      }  
  
      .virus1{
          width: 100px;
      }
      .pumas{
          width: 100px;
      }
      .contact{
          width: 149px;
      }
      .defeat{
          width: 100px;
      }
  }
  

  /*Responsive Celular L*/
@media (max-width: 425px) {    
 .navs-tabs{
  justify-content: center;
  align-items: center;
  margin-top: none;
  }  
  .contImg{
    margin-top: 1px;
  }
  .titulo{
    top: -46px;
  }
  .contenido-titulo{
    font-size: 28px;
  }
  .virus1{
    width: 130px;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
  }
  .pumas{
    width: 80px;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
  }
  .text{
    font-size: 15px

  }
}

  @media (min-width: 426px) and (max-width: 762px) {
    .navs-tabs {
      width: 60%;
      margin-top: 1px;
      margin-top: none;
    }
    .virus1{
      width: 50%;
      margin-top: 110px;
      margin-left: 44px;
    }       
    .pumas {
      width: 50%;
      margin-top: 10px;    
    }  
    .contact{
      width: 50%;
      margin-top: 10px;
  }
    .defeat{
      width: 50%;
      margin-top: 10px; 
  }  
  }

/*Tablet*/
@media (min-width: 763px) and (max-width: 991px) {
  .navs-tabs{
    width: 60%;
    margin-top: none;
  }
  .contImg{
    width: 100% !important;
    height: 73vh !important;
}
.virus1{
  width: 100%;
  margin-top: 110px;
  margin-left: 44px;
}
.pumas{
  width: 100%;
  margin-top: 110px;
  margin-left: 44px;
}
.contact {
  width: 100%;
  margin-top: 110px;
  margin-left: 44px;
}
.defeat{
  width: 100%;
  margin-top: 110px;
  margin-left: 44px;
}
}