@font-face{
    font-family: 'HelveticaRoman';
    src: url('../fonts/HelveticaNeueLTStd-Roman.otf');
}  
.sectionTeam{
    background-color: #F4F4FF; 
    width: 100%;
    height: 100vh;
    padding: 9rem 0 10rem 0;
}
.containerTeam{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    overflow:hidden;
}
.titleTeam{
    font-family: 'RoundedElegance';
    text-align: center;
    font-size: 1.8rem;
    color: #662499;
}
.team{
    margin-left: 20px;
}
.team:hover{
    transform:scale(1.1);
    /*box-shadow: 0 0 20px #4f9;*/
    -webkit-filter: drop-shadow(12px 12px 7px #ffffccfd );
     filter: drop-shadow(12px 12px 7px #ffffccfd);
}
.btn-default {
    background-color: transparent !important;
    border:none !important;
}
.btn {
    box-shadow:none !important;}
.modalTeamOne {
    background: url('../img/yellow.png');
    background-size: 100%;
}
.modalTeam {
    background: url('../img/yellow.png');
    background-size: 100%;
    font-family: 'HelveticaRoman';
    font-size: 1.2rem; 
    border-bottom-left-radius: 2.125rem !important;
    border-bottom-right-radius: 2.125rem !important;
}
.modal-content {
    background-color: transparent !important;
    width: 120% !important;
}
.modal-dialog .modal-content .modal-header {
    border-top-left-radius: 2.125rem !important;
    border-top-right-radius: 2.125rem !important;
}
.modal-dialog .modal-content {
    border: 0;
    border-radius: 3.125rem;
}
.imgGuantrini{
    width: 200px;
}
.imgPuma{
    width: 200px;
}
.imgJabon{
    width: 200px;
}
@media (max-width: 375px) {
.btn {
    margin: -0.625rem !important;
    padding: 0.16rem 2.14rem !important;
    height: 33vh !important;
}
.imgGuantrini{
    width: 100px !important;
}
.imgPuma{
    width: 130px;
}
.imgJabon{
    width: 100px;
}

}
@media /* (min-width:320px) and */ (max-width: 450px) {
    .btn {
      padding: 1.16rem 2.14rem !important;
      height: 29vh;
    }
    .sectionTeam {
        padding: 2rem 0 0 0;
        height: 92vh;
    }
    .team{
        margin-left: 0px;
    }
    .titleTeam{
        top:2rem;
    }
    .contEscuadron{
        width: 100%;
        margin-top: 36px;
    }
    .containerTeam{
        margin-top: 2px;
    }
 /*    .btn {
        height: 29vh !important;
    }  */

    .tomask{
        width: 137px;
    }
    .guantrini{
        width: 100px;
    }
    .puma{
        width: 149px;
    }
    .jabon{
        width: 100px;
    }
    .imghootie img {
        width: 150px;
    }
}


@media (min-width: 763px) and (max-width: 991px) {
    .puma {
        width: 150px;
    }
    .jabon{
        width: 100px;
    }
    .btn {
       margin: 1.37rem !important;
    }
    .arrowone {
        margin-top: 3em !important;
    }
}