.sectionTeam{
    background-color: #F4F4FF;
    width: 100%;
    height: 100vh;
    padding: 9rem 0 10rem 0;
}

.containerTeam{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
    Overflow:hidden
}

.team{
    margin-left: 20px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

