@font-face {
  font-family: 'RoundedElegance';
  src: local('RoundedElegance'), url('./fonts/Rounded_Elegance.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueRoman';
  src: local('HelveticaNeueRoman'), url('./fonts/HelveticaNeueLTStd-Roman.otf') format('opentype');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth; 
}
